<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>Errors:</h2>
    <ul>
      <% @user.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :user, url: '/users' do |f| %>
  User name:<br> <%= f.text_field :user_name %><br>
  First name:<br> <%= f.text_field :first_name %><br>
  Last name:<br> <%= f.text_field :last_name %><br>
  email:<br> <%= f.text_field :email %><br>
  Password:<br> <%= f.password_field :password %><br>
  Password Confirmation:<br> <%= f.password_field :password_confirmation %><br>
  <%= f.submit "Submit" %>
<% end %>