<h1><%= @post.user.user_name %></h1>

<h3><%= @post.content %></h3>

<% if @post.liked?(session[:user_id]) %>
  <%= button_to "&#x021D1;#{@post.post_likes.size}".html_safe, dislike_path(@post), method: 'put' %>
<% else %>
  <%= button_to "&#x021D1;#{@post.post_likes.size}".html_safe, like_path(@post), method: 'put' %>
<% end %>

<p>comments <%= @post.comments.size %></p>

<%= form_tag({ controller: 'comments', action: 'create', method: 'post' }) do %>
  <%= hidden_field :comment, :user_id, value: session[:user_id] %>
  <%= hidden_field :comment, :post_id, value: params[:id] %>
  <label>write your response</label><br>
  <%= text_area_tag 'comment[content]' %><br>
  <%= submit_tag "post response" %>
<% end %>

<% @post.comments.reverse.each do |comment| %>
    <h3><%= comment.content %></h3>
    <h5><%= render partial: 'comments/comment_like', locals: { comment: comment } %></h5>
    <h5><%= render partial: 'comments/comment_replies', locals: { comment: comment } %></h5>
<% end %>
